@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.eot") format("eot");
  font-display: swap;
}
/* ==================== Стили шрифтов ==================== */
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.burger {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(119, 119, 119, 0.3);
  z-index: 101;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

/* ===============================HEADER============================== */
/* ===============================HEADER============================== */
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-item {
  margin-right: 64px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.header__menu-item:hover {
  color: #FFDD00;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.header__number-btn {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #010201;
  width: 295px;
  height: 70px;
  border: 1px solid #010201;
  border-radius: 80px;
  background-color: #FFFFFF;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.header__number-btn:hover {
  border: 1px solid #FFDD00;
  background-color: #FFDD00;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.header__number-content {
  display: none;
}

/* ==============================MAIN=============================== */
/* ==============================MAIN=============================== */
/* ===============================CISTERNS============================== */
/* ===============================CISTERNS============================== */
.cisterns {
  height: 880px;
  background: 0px 0px/cover no-repeat url("../PC/bg_main_comp.jpg");
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.cisterns__inner {
  position: relative;
}
.cisterns__inner-title {
  position: absolute;
  top: 506px;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #010201;
  color: white;
}
.cisterns__inner-btn {
  position: absolute;
  top: 662px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.cisterns__btn {
  background: #FFDD00;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  width: 300px;
  height: 70px;
  border-radius: 80px;
  color: #010201;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.cisterns__btn:hover {
  background: #010201;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  color: #FFDD00;
}

/* ===============================AVAILBILITY============================== */
/* ===============================AVAILBILITY============================== */
.availability__inner {
  padding-bottom: 74px;
}
.availability__inner-title {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #010201;
  padding: 165px 0px 96px 0px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.availability__inner-slider {
  overflow: hidden;
}
.availability__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 105px;
  background-color: #F4F4F4;
  border-radius: 20px;
}
.availability__item {
  width: 568px;
  margin-right: 42px;
}
.availability__item-title {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #010201;
  padding-bottom: 48px;
}
.availability__item-text {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  padding-bottom: 48px;
}
.availability__item-img {
  width: 420px;
}
.availability__btn {
  background: #FFDD00;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  width: 330px;
  height: 70px;
  border-radius: 80px;
  color: #010201;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.availability__btn:hover {
  background: #010201;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  color: #FFDD00;
}
.availability__arrows {
  position: relative;
  z-index: 100;
}
.availability__arrows-left {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  top: -300px;
  left: 25px;
  background-color: #FFDD00;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.availability__arrows-left:hover {
  border-radius: 50%;
  background-color: #010201;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #FFDD00;
}
.availability__arrows-left.swiper-button-disabled {
  border: 1px solid #010201;
  color: #010201;
  background-color: #F4F4F4;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.availability__arrows-prev {
  display: block;
  padding-top: 22px;
  padding-left: 9px;
  height: 60px;
  width: 60px;
}
.availability__arrows-right {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  top: -300px;
  right: 25px;
  background-color: #FFDD00;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.availability__arrows-right:hover {
  border-radius: 50%;
  background-color: #010201;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #FFDD00;
}
.availability__arrows-right.swiper-button-disabled {
  border: 1px solid #010201;
  color: #010201;
  background: #FFFFFF;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.availability__arrows-next {
  display: block;
  padding-top: 22px;
  padding-left: 9px;
}

/* ===============================PARTNERS============================== */
/* ===============================PARTNERS============================== */
.partners__inner {
  padding: 74px 0 74px 0;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.partners__inner-title {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #010201;
  padding-bottom: 96px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.partners__grid {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 0px 89px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.partners__grid-item {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

/* ===============================PARTNERS============================== */
/* ===============================PARTNERS============================== */
.adaptation {
  padding: 74px 0 148px 0;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.adaptation__inner {
  background-color: #F4F4F4;
  padding: 85px 105px;
  border-radius: 20px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.adaptation__inner-title {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #010201;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.adaptation__inner-text {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  padding: 48px 0px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.adaptation__inner-content {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.adaptation__content-item {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 505px;
  padding: 30px 69px 30px 50px;
  margin-right: 20px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.adaptation__content-item:last-child {
  margin-right: 0;
}
.adaptation__content-item::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 37px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFDD00;
}

/* ===============================ABOUT============================== */
/* ===============================ABOUT============================== */
.about {
  padding: 148px 0 148px 0;
  background: 0px 0px/cover no-repeat url("../PC/bg_about_comp.jpg");
}
.about__inner {
  padding: 69px 114px 85px 85px;
  border-radius: 20px;
  background-color: #ffffff;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.about__inner-title {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #010201;
  padding-bottom: 48px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.about__inner-text {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
}

/* ===============================CHOICE============================== */
/* ===============================CHOICE============================== */
.choice {
  padding: 148px 0 148px 0;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.choice__inner-title {
  padding-bottom: 48px;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #010201;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.choice__inner-text {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  position: relative;
  padding-bottom: 66px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.choice__slider-svg {
  padding-bottom: 20px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.choice__slider-item {
  padding: 30px 25px 30px 30px;
  background-color: #F4F4F4;
  border-radius: 10px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.choice__item-svg {
  padding-bottom: 25px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.choice__item-title {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #010201;
  padding-bottom: 25px;
  width: 550px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.choice__item-text {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
}
.choice__arrows {
  position: relative;
}
.choice__arrows-switch {
  color: #010201;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.choice__arrows-switch:hover {
  color: #FFDD00;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.choice__arrows-left {
  position: absolute;
  top: 48px;
  left: calc(50% - 75px);
}
.choice__arrows-left.swiper-button-disabled .choice__arrows-switch {
  color: rgba(43, 43, 51, 0.5);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.choice__arrows-right {
  position: absolute;
  top: 48px;
  right: calc(50% - 65px);
}
.choice__arrows-right.swiper-button-disabled .choice__arrows-switch {
  color: rgba(43, 43, 51, 0.5);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* ===============================APPLICATION============================== */
/* ===============================APPLICATION============================== */
.application {
  padding: 148px 0px;
  background: 0px 0px/cover no-repeat url("../PC/bg_form_comp.jpg");
}
.application__inner {
  padding: 85px 85px 85px 81px;
  background-color: #010201;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.application__inner-text {
  max-width: 480px;
}
.application__inner-form {
  max-width: 526px;
  padding-top: 15px;
}
.application__text-title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  line-height: 70px;
  color: #010201;
  color: #ffffff;
  padding-bottom: 26px;
}
.application__text-top {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  color: #ffffff;
  padding-bottom: 70px;
}
.application__text-bot {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  color: #ffffff;
}
.application__form-input {
  width: 525px;
  height: 60px;
  border: 1px solid #FFFFFF;
  border-radius: 80px;
  padding: 23px;
  margin-bottom: 12px;
  background-color: #010201;
  color: #ffffff;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.application__form-input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.application__form-input::-moz-placeholder {
  color: #FFFFFF;
}
.application__form-input:-ms-input-placeholder {
  color: #FFFFFF;
}
.application__form-input::-ms-input-placeholder {
  color: #FFFFFF;
}
.application__form-input::placeholder {
  color: #FFFFFF;
}
.application__form-input:focus {
  border: 1px solid #FFDD00;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.application__btn {
  background: #FFDD00;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  width: 525px;
  height: 70px;
  border-radius: 80px;
  color: #010201;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.application__btn:hover {
  background: #010201;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  color: #FFDD00;
}
.application__btn:hover {
  border: 1px solid #FFDD00;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* ===============================CONTACTS============================== */
/* ===============================CONTACTS============================== */
.contacts {
  padding: 148px 0px 74px 0px;
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__content-title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  line-height: 61.6px;
  color: #010201;
  padding-bottom: 25px;
}
.contacts__content-grid {
  display: grid;
  grid-template: auto auto/1fr 1fr;
  gap: 25px 60px;
}
.contacts__grid-item {
  max-width: 255px;
}
.contacts__item-title {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #010201;
  padding-bottom: 15px;
}
.contacts__item-text {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  position: relative;
}
.contacts__item-text a::after {
  content: url(../Icons/warning.svg);
  position: absolute;
  top: -13px;
  left: 35px;
}
.contacts__item-text p {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #010201;
  padding-top: 10px;
}
.contacts__map iframe {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

/* ===============================FOOTER============================== */
/* ===============================FOOTER============================== */
.footer {
  padding: 74px 0px 148px 0px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__inner-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__about-img {
  padding-bottom: 94px;
}
.footer__about-txt {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  padding-bottom: 20px;
}
.footer__info {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #010201;
  padding-bottom: 25px;
}
.footer__info-txt {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  padding-bottom: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__info-txt:hover {
  color: #FFDD00;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__products {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #010201;
  padding-bottom: 25px;
}
.footer__products-txt {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #010201;
  padding-bottom: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__products-txt:hover {
  color: #FFDD00;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* ===============================MEDIA============================== */
/* ===============================MEDIA============================== */
/* ===============================MEDIA============================== */
/* -------------------------------1300px------------------------------*/
@media (max-width: 1300px) {
  .partners__grid {
    gap: 0 1%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .choice__inner-text::after {
    top: 75%;
    left: 25%;
  }
  .choice__slider {
    position: relative;
    margin: 0 auto;
    max-width: 620px;
    overflow: hidden;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__inner {
    padding: 85px 70px 80px 70px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .contacts__map iframe {
    width: 600px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
}
/* ===============================MEDIA============================== */
/* -------------------------------1200px------------------------------*/
@media (max-width: 1200px) {
  .availability__inner-slider {
    width: 800px;
    margin: 0 auto;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .availability__slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 95px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .availability__item {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .availability__item-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .availability__item-btn {
    text-align: center;
  }
  .availability__arrows-left {
    top: -466px;
    left: 25px;
  }
  .availability__arrows-right {
    top: -466px;
    right: 25px;
  }
  .application__inner-form {
    max-width: 420px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__form-input {
    width: 420px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__btn {
    width: 420px;
  }
  .contacts__map iframe {
    width: 800px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .contacts__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__inner-map {
    padding-top: 10px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
/* ===============================MEDIA============================== */
/* -------------------------------1100px------------------------------*/
@media (max-width: 1100px) {
  .header__menu-item {
    margin-right: 32px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .cisterns__inner-title {
    top: 450px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .partners__grid {
    grid-template: 1fr 1fr 1fr/1fr 1fr;
  }
  .application__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application__inner-text {
    padding-right: 10px;
  }
}
/* ===============================MEDIA============================== */
/* -------------------------------998px-------------------------------*/
@media (max-width: 998px) {
  .burger {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 24px;
    right: 38px;
    height: 69px;
    width: 69px;
    /* background: rgba(255, 255, 255, 0.45); */
    border-radius: 15px;
    z-index: 200;
  }
  .burger__container {
    position: relative;
    /* background: #FFFFFF; */
    height: 49px;
    width: 49px;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* box-shadow: 0 4px 10px 0 rgba(73, 93, 76, 0.15); */
  }
  .burger__container::after {
    position: absolute;
    bottom: 10px;
    content: "";
    right: 12px;
    display: block;
    height: 2px;
    width: 27px;
    margin: 5px 0;
    border-radius: 3px;
    background-color: #010201;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .burger__container::before {
    position: absolute;
    content: "";
    top: 10px;
    right: 12px;
    display: block;
    height: 2px;
    width: 27px;
    margin: 5px 0;
    border-radius: 3px;
    background-color: #010201;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .burger__firstline {
    display: block;
    height: 2px;
    width: 27px;
    border-radius: 3px;
    background-color: #010201;
    margin: 5px 3px 5px 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .burger--active .burger__firstline {
    visibility: hidden;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
  .burger--active .burger__container::before {
    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 18.5px;
    border-radius: 3px;
    background-color: #010201;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .burger--active .burger__container::after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 18.5px;
    border-radius: 3px;
    background-color: #010201;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .burger--follow {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .header__top {
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 360px;
    position: fixed;
    background-color: #F4F4F4;
    z-index: 150;
    -webkit-transform: translate(100%);
        -ms-transform: translate(100%);
            transform: translate(100%);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__top--open {
    -webkit-transform: translate(0%);
        -ms-transform: translate(0%);
            transform: translate(0%);
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header__menu-item {
    margin-right: 0;
    margin-bottom: 36px;
  }
  .header__number {
    display: none;
  }
  .header__number-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__number-wa {
    margin-right: 20px;
  }
}
/* ===============================MEDIA============================== */
/* -------------------------------900px-------------------------------*/
@media (max-width: 900px) {
  .cisterns__inner-title {
    top: 480px;
  }
  .cisterns__title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #010201;
    color: #FFFFFF;
  }
  .availability__inner-title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #010201;
    padding: 80px 0 50px 0;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .availability__inner-slider {
    width: 600px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .availability__slider-item {
    padding: 25px;
    max-width: 600px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .availability__arrows {
    max-width: 799px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
  }
  .availability__arrows-left {
    position: static;
  }
  .availability__arrows-right {
    position: static;
  }
  .partners__inner {
    padding: 32px 0 32px 0;
  }
  .partners__inner-title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #010201;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    padding-bottom: 48px;
  }
  .partners__grid {
    grid-template-columns: 1fr;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .partners__grid-item img {
    width: 330px;
  }
  .adaptation {
    padding: 32px 0 74px 0;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .adaptation__inner {
    padding: 40px 20px;
  }
  .adaptation__inner-title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #010201;
  }
  .about {
    padding: 74px 0 74px 0;
  }
  .about__inner {
    padding: 30px 40px 40px 30px;
    border-radius: 20px;
    background-color: #ffffff;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .about__inner-title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #010201;
    padding-bottom: 24px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .about__inner-text {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #010201;
  }
  .choice {
    padding: 74px 0 74px 0;
  }
  .choice__inner-title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #010201;
    padding-bottom: 20px;
  }
  .choice__inner-text {
    padding-bottom: 20px;
  }
  .choice__arrows-left {
    top: 25px;
  }
  .choice__arrows-right {
    top: 25px;
  }
  .application {
    padding: 74px 0;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 20px 38px 20px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__text-title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #010201;
    color: #FFFFFF;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__text-top {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    padding-bottom: 20px;
  }
  .contacts {
    padding: 74px 0px 32px 0px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .contacts__content-title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #010201;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .contacts__content-grid {
    grid-template: auto auto/auto auto;
    gap: 15px 10px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .contacts__map iframe {
    width: 620px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .footer__inner-info {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* ===============================MEDIA============================== */
/* -------------------------------709px-------------------------------*/
@media (max-width: 709px) {
  .cisterns__inner-title {
    top: 426px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
}
/* ===============================MEDIA============================== */
/* -------------------------------659px-------------------------------*/
@media (max-width: 659px) {
  .cisterns {
    height: 405px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .cisterns__inner-title {
    top: 60px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .cisterns__inner-btn {
    top: 230px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .cisterns__title {
    font-family: "Montserrat";
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    color: #010201;
    color: #FFFFFF;
    max-width: 400px;
  }
  .availability {
    padding: 32px 0;
  }
  .availability__inner-title {
    font-family: "Montserrat";
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    color: #010201;
    padding: 32px 0;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .availability__inner-slider {
    width: 490px;
  }
  .availability__slider {
    width: 560px;
  }
  .availability__slider-item {
    max-width: 590px;
    padding: 10px 9px 50px 19px;
  }
  .availability__item {
    width: 401px;
  }
  .availability__item-title {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #010201;
  }
  .availability__item-img {
    width: 250px;
  }
  .availability__item-img img {
    -ms-flex-item-align: center;
        align-self: center;
    width: 250px;
  }
  .availability__btn {
    width: 401px;
  }
  .partners__inner-title {
    font-family: "Montserrat";
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    color: #010201;
    padding-bottom: 32px;
  }
  .adaptation {
    padding: 32px 0 42px 0;
  }
  .adaptation__inner {
    padding: 40px 20px 20px 20px;
  }
  .adaptation__inner-title {
    font-family: "Montserrat";
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    color: #010201;
  }
  .adaptation__inner-text {
    padding: 24px 0;
  }
  .adaptation__inner-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adaptation__content-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about__inner-title {
    font-family: "Montserrat";
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    color: #010201;
  }
  .choice {
    padding: 32px 0 68px 0;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .choice__inner-title {
    font-family: "Montserrat";
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    color: #010201;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .choice__inner-slider {
    width: 400px;
    margin: 0 auto;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .choice__slider-item {
    width: 400px;
    padding: 40px 20px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .choice__item-title {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #010201;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__inner-form {
    max-width: 330px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__text-title {
    font-family: "Montserrat";
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    color: #010201;
    color: #FFFFFF;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__form-input {
    width: 330px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .application__btn {
    width: 330px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .contacts__content-grid {
    grid-template-columns: auto;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .contacts__map iframe {
    width: 330px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .footer {
    padding: 48px 0px 48px 0px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .footer__inner-info {
    padding: 0;
  }
  .footer__about-img {
    padding-bottom: 34px;
  }
}