@import "reset";
@import "fonts";
@import "mixin";


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.burger {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(119, 119, 119, 0.3);
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}

/* ===============================HEADER============================== */
/* ===============================HEADER============================== */

.header {

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    &__inner {
        display: flex;
        justify-content: space-between;
        height: 130px;
        align-items: center;
    }

    &__menu {
        display: flex;

        &-item {
            margin-right: 64px;
            @include style_h3;
            transition: .6s;


            &:hover {
                color: #FFDD00;
                transition: .6s;
            }

        }
    }

    &__number {

        &-wa svg{
            height: 39px;
            width: 39px;
        }

        &-phone svg {
            height: 39px;
            width: 39px;
        }

        &-btn {
            @include style_h3 ($fz: 18px, $fw: 500, $lh: 27px);
            width: 295px;
            height: 70px;
            border: 1px solid #010201;
            border-radius: 80px;
            background-color: #FFFFFF;
            transition: .6s;
            

            &:hover {
                border: 1px solid #FFDD00;
                background-color: #FFDD00;
                transition: .6s;
            }
        }

        &-content {
            display: none;
        }
    }
}

/* ==============================MAIN=============================== */
/* ==============================MAIN=============================== */

/* ===============================CISTERNS============================== */
/* ===============================CISTERNS============================== */

.cisterns {
    height: 880px;
    background: 0px 0px / cover no-repeat url("../images/bg_main_comp.jpg");
    transition: all .6s;

    &__inner {
        position: relative;

        &-title {
            position: absolute;
            top: 506px;
            @include style_h1;
            color: white;
        }

        &-btn {
            position: absolute;
            top: 662px;
            transition: all .6s;
        }
    }

    &__btn {
        @include button;

    }
}

/* ===============================AVAILBILITY============================== */
/* ===============================AVAILBILITY============================== */

.availability {

    &__inner {
        padding-bottom: 74px;

        &-title {
            @include style_h1;
            padding: 165px 0px 96px 0px;
            transition: all .6s;
        }

        &-slider {
            overflow: hidden;

        }
    }

    &__slider {

        
        &-item {
            display: flex;
            padding: 85px 105px;
            background-color: #F4F4F4;
            border-radius: 20px;
        }
    }

    &__item {
        width: 568px;
        margin-right: 42px;
        
        &-title {
            @include style_h2($fz: 24px, $fw: 500, $lh: 36px);
            padding-bottom: 48px;
        }

        &-text {
            @include style_h3;
            padding-bottom: 48px;
        }

        &-img {
            width: 420px;
        }

    }

    &__btn {
        @include button($width: 330px, $height: 70px, $br: 80px,
        $fz: 18px, $fw: 500, $lh: 27px);
    }

    &__arrows {
        position: relative;
        z-index: 100;

        &-left {
            position: absolute;
            display: block;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            top: -300px;
            left: 25px;
            background-color: #FFDD00;
            transition: all .5s;

            &:hover { 
                border-radius: 50%;
                background-color: #010201;
                transition: .5s;
                color: #FFDD00;
            }

            &.swiper-button-disabled {
                border: 1px solid #010201;
                color: #010201;
                background-color: #F4F4F4;
                transition: .6s;
            }

        }

        &-prev {
            display: block;
            padding-top: 22px;
            padding-left: 9px;
            height: 60px;
            width: 60px;

        }

        &-right {
            position: absolute;
            display: block;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            top: -300px;
            right: 25px;
            background-color: #FFDD00;
            transition: all .5s;

            &:hover {
                border-radius: 50%;
                background-color: #010201;
                transition: .5s;
                color: #FFDD00;
            }

            &.swiper-button-disabled {
                border: 1px solid #010201;
                color: #010201;
                background: #FFFFFF;
                transition: all .6s;
            }
        }

        &-next {
            display: block;
            padding-top: 22px;
            padding-left: 9px;
        }
    }

    &__popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(214, 214, 214, 0.55);
        backdrop-filter: blur(10px);
        z-index: 200;
        visibility: hidden;
        opacity: 0;
        transition: all .8s;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}



/* ===============================POPUP============================== */

.popup {
    padding: 148px 0px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    &__close {
        position: absolute;

        &-line {
            position: absolute;
            height: 35px;
            width: 4px;
            background: #1a1a1a;
            border-radius: 2.5px;

            &:first-child {
                rotate: -45deg;
                top: -17px;
                left: 23px;
            }

            &:last-child {
                rotate: 45deg;
                top: -17px;
                left: 23px;
            }
        }
    }

    &__inner {
        padding: 85px 85px 85px 81px;
        background-color: #010201;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        transition: all .6s;

        &-close {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 15px;
            top: 74px;
            border-radius: 17px;
            box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
            box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
            transition: .6s;

            &:hover {
                border-radius: 27px;
                box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
                background-color: #FFDD00;
                transition: all .6s;
            }
        }

        &-text {
            max-width: 480px;
        }

        &-form {
            max-width: 526px;
            padding-top: 15px;
        }
    }

    &__text {
        
        &-title {
            @include style_h1 ($fz: 44px, $fw: 700, $lh: 70px);
            color: #ffffff;
            padding-bottom: 26px;
        }

        &-top {
            @include style_h3;
            color: #ffffff;
            padding-bottom: 70px;
        }

        &-bot {
            @include style_h3;
            color: #ffffff;
        }
    }

    &__form {

        &-input {
            width: 525px;
            height: 60px;
            border: 1px solid #FFFFFF;
            border-radius: 80px;
            padding: 23px;
            margin-bottom: 12px;
            background-color: #010201;
            color: #ffffff;
            transition: .6s;

            &::placeholder {
                color: #FFFFFF;
            }
            
            &:focus {
                border: 1px solid #FFDD00;
                transition: .6s;
            }
        }
    }

    &__btn {
        @include button ($width: 525px, $height: 70px, $br: 80px,
        $fz: 18px, $fw: 500, $lh: 27px);

        &:hover {
            border: 1px solid #FFDD00;
            transition: .6s;
        }
    }
}

/* ===============================POPUP============================== */



/* ===============================PARTNERS============================== */
/* ===============================PARTNERS============================== */

.partners {

    &__inner {
        padding: 74px 0 74px 0;
        transition: all .6s;

        &-title {
            @include style_h1;
            padding-bottom: 96px;
            transition: all .6s;
        }
    }

    &__grid {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        gap: 0px 89px;
        transition: all .6s;

        &-item {
            justify-self: center;
            align-self: center;
        }
    }
}

/* ===============================PARTNERS============================== */
/* ===============================PARTNERS============================== */

.adaptation {
    padding: 74px 0 148px 0;
    transition: all .6s;

    &__inner {
        background-color: #F4F4F4;
        padding: 85px 105px;
        border-radius: 20px;
        transition: all .6s;

        &-title {
            @include style_h1;
            transition: all .6s;
        }

        &-text {
            @include style_h3;
            padding: 48px 0px;
            transition: all .6s;
        }

        &-content {
            @include style_h3;
            display: flex;
            transition: all .6s;
        }
    }

    &__content-item {
        @include style_h3;
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;
        max-width: 505px;
        padding: 30px 69px 30px 50px;
        margin-right: 20px;
        transition: all .6s;

        &:last-child {
            margin-right: 0;
        }

        &::before {
            content: '';
            position: absolute;
            left: 25px;
            top: 37px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #FFDD00;
        }
    }
}

/* ===============================ABOUT============================== */
/* ===============================ABOUT============================== */

.about {
    padding: 148px 0 148px 0;
    background: 0px 0px / cover no-repeat url("../images/bg_about_comp.jpg");

    &__inner {
        padding: 69px 114px 85px 85px;
        border-radius: 20px;
        background-color: #ffffff;
        transition: all .6s;

        &-title {
            @include style_h1;
            padding-bottom: 48px;
            transition: all .6s;
        }

        &-text {
            @include style_h3;
        }
    }
}

/* ===============================CHOICE============================== */
/* ===============================CHOICE============================== */

.choice {
    padding: 148px 0 148px 0;
    transition: all .6s;

    &__inner {

        &-title {
            padding-bottom: 48px;
            @include style_h1;
            transition: all .6s;
        }

        &-text {
            @include style_h3;
            position: relative;
            padding-bottom: 66px;
            transition: all .6s;
        }
    }

    &__slider {

        &-svg {
            padding-bottom: 20px;
            transition: all .6s;
        }

        &-item {
            padding: 30px 25px 30px 30px;
            background-color: #F4F4F4;
            border-radius: 10px;
            transition: all .6s;
        }
    }

    &__item {

        &-svg {
            padding-bottom: 25px;
            transition: all .6s;
        }

        &-title {
            @include style_h2 ($fz: 24px, $fw: 500, $lh: 36px);
            padding-bottom: 25px;
            width: 550px;
            transition: all .6s;
        }

        &-text {
            @include style_h3
        }
    }

    &__arrows {
        position: relative;

        &-switch {
            color:#010201;
            transition: .6s;
            &:hover {
                color:#FFDD00;
                transition: .6s;
            }
        }

        &-left {
            position: absolute;
            top: 48px;
            left: calc(50% - 75px);
            &.swiper-button-disabled .choice__arrows-switch  {
                color:rgba(43, 43, 51, 0.5);
                transition: .6s;
            }

        }

        &-right {
            position: absolute;
            top: 48px;
            right: calc(50% - 65px);

            &.swiper-button-disabled .choice__arrows-switch  {
                color:rgba(43, 43, 51, 0.5);
                transition: .6s;
            }
        }
    }
}

/* ===============================APPLICATION============================== */
/* ===============================APPLICATION============================== */

.application {
    padding: 148px 0px;
    background: 0px 0px / cover no-repeat url("../images/bg_form_comp.jpg");

    &__inner {
        padding: 85px 85px 85px 81px;
        background-color: #010201;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        transition: all .6s;

        &-text {
            max-width: 480px;
        }

        &-form {
            max-width: 526px;
            padding-top: 15px;
        }
    }

    &__text {
        
        &-title {
            @include style_h1 ($fz: 44px, $fw: 700, $lh: 70px);
            color: #ffffff;
            padding-bottom: 26px;
        }

        &-top {
            @include style_h3;
            color: #ffffff;
            padding-bottom: 70px;
        }

        &-bot {
            @include style_h3;
            color: #ffffff;
        }
    }

    &__form {

        &-input {
            width: 525px;
            height: 60px;
            border: 1px solid #FFFFFF;
            border-radius: 80px;
            padding: 23px;
            margin-bottom: 12px;
            background-color: #010201;
            color: #ffffff;
            transition: .6s;

            &::placeholder {
                color: #FFFFFF;
            }
            
            &:focus {
                border: 1px solid #FFDD00;
                transition: .6s;
            }
        }
    }

    &__btn {
        @include button ($width: 525px, $height: 70px, $br: 80px,
        $fz: 18px, $fw: 500, $lh: 27px);

        &:hover {
            border: 1px solid #FFDD00;
            transition: .6s;
        }
    }
}

/* ===============================CONTACTS============================== */
/* ===============================CONTACTS============================== */

.contacts {
    padding: 148px 0px 74px 0px;

    &__inner {
        display: flex;
    }

    &__content {

        &-title {
            @include style_h2;
            padding-bottom: 25px;
        }

        &-grid {
            display: grid;
            grid-template: auto auto / 1fr 1fr;
            gap: 25px 60px;
        }
    }

    &__grid {

        &-item {
            max-width: 255px;
        }
    }

    &__item {

        &-title {
            @include style_h3 ($fz: 20px, $fw: 700, $lh: 30px);
            padding-bottom: 15px;
        }

        &-text {
            @include style_h3 ($fz: 18px, $fw: 400, $lh: 27px);
            position: relative;

            & a svg {
                width: 39px;
                height: 39px;
                
            }

            & a::after {
                content: url(../Icons/warning.svg);
                position: absolute;
                top: -13px;
                left: 35px;
            }

            & p {
                @include style_h3 ($fz: 12px, $fw: 400, $lh: 18px);
                padding-top: 10px;
            }
        }
    }

    &__map {
        & iframe {
            transition: all .6s;
        }
    }
}

/* ===============================FOOTER============================== */
/* ===============================FOOTER============================== */

.footer {
    padding: 74px 0px 148px 0px;


    &__inner {
        display: flex;
        justify-content: space-between;

        &-about {
        }

        &-info {
            display: flex;
            flex-direction: column;
        }

        &-products {
            display: flex;
            flex-direction: column;
        }
    }

    &__about {
        &-img {
            padding-bottom: 94px;
        }

        &-txt {
            @include style_h3;
            padding-bottom: 20px;

        }
    }

    &__info {
        @include style_h2 ($fz: 24px, $fw: 700, $lh: 36px);
        padding-bottom: 25px;

        &-txt {
            @include style_h3;
            padding-bottom: 10px;
            transition: .3s;

            &:hover {
                color: #FFDD00;
                transition: .3s;
            }
        }

    }

    &__products {
        @include style_h2 ($fz: 24px, $fw: 700, $lh: 36px);
        padding-bottom: 25px;

        &-txt {
            @include style_h3;
            padding-bottom: 10px;
            transition: .3s;

            &:hover {
                color: #FFDD00;
                transition: .3s;
            }
        }

    }
}


/* ===============================MEDIA============================== */
/* ===============================MEDIA============================== */

/* ===============================MEDIA============================== */
/* -------------------------------1300px------------------------------*/

@media (max-width: 1300px) {
    .partners {

        &__grid {
            gap: 0 1%;
            transition: all .6s;
        }
    }

    .choice {

        &__inner-text::after {
            top: 75%;
            left: 25%;
        }

        &__slider {
            position: relative;
            margin: 0 auto;
            width: 620px;
            overflow: hidden;
            transition: all .6s;

            &-item {
                max-width: 620px;
                margin: 0 auto;
            }
        }
    }

    .application {
        &__inner {
            padding: 85px 70px 80px 70px;
            transition: all .6s;
        }
    }

    .contacts {
        &__map {
            & iframe {
                width: 600px;
                transition: all .6s;
            }
        }
    }
}

/* ===============================MEDIA============================== */
/* -------------------------------1200px------------------------------*/

@media (max-width: 1200px) {

    .availability {

        &__inner  {
            &-slider {
                transition: all .6s;
            }
        }

        &__slider {
            margin: 0 auto;
            overflow: hidden;
            width: 800px;
            &-item {
                flex-direction: column;
                padding: 70px 95px;
                transition: all .6s;
                max-width: 800px;
            }
        }

        &__item {
            order: 2;
            &-img {
                order: 1;
                align-self: center;
            }

            &-btn {
                text-align: center;
            }
        }

        &__arrows {
            &-left {
                top: -466px;
                left: 25px;
            }
            &-right {
                top: -466px;
                right: 25px;
            }
        }
    }

    .application {
        &__inner {

            &-form {
                max-width: 420px;
                transition: all .6s;
            }
        }

        &__form {
            &-input {
                width: 420px;
                transition: all .6s;
            }
        }
        &__btn {
            width: 420px;
        }
    }

    .contacts {
        &__map {
            & iframe {
                width: 800px;
                transition: all .6s;
            }
        }

        &__inner {
            flex-direction: column;

            &-map {
                padding-top: 10px;
                align-self: center;
            }
        }
    }

    .popup {
        &__inner {

            &-form {
                max-width: 420px;
                transition: all .6s;
            }
        }

        &__form {
            &-input {
                width: 420px;
                transition: all .6s;
            }
        }
        &__btn {
            width: 420px;
        }
    }
}

/* ===============================MEDIA============================== */
/* -------------------------------1100px------------------------------*/

@media (max-width: 1100px) {
    .header {
        &__menu {
            &-item {
                margin-right: 32px;
                transition: all .6s;
            }
        }
    }

    .cisterns {
        &__inner {
            &-title {
                top: 450px;
                transition: all .6s;
            }
        }
    }

    .partners {
        &__grid {
            grid-template: 1fr 1fr 1fr / 1fr 1fr;
        }
    }

    .application {
        &__inner {
            align-items: center;

            &-text {
                padding-right: 10px;
            }
        }
    }

    .popup {

        &__inner {
            flex-direction: column;
            padding: 30px 1px 30px 30px; 
            transition: all .6s;
        }

        &__text {
            &-title {
                @include style_h1_pad;
                color: #FFFFFF;
                transition: all .6s;
            }

            &-top {
                transition: all .6s;
                padding-bottom: 20px;
            }
        }
    }
}

/* ===============================MEDIA============================== */
/* -------------------------------998px-------------------------------*/

@media (max-width: 998px) {
    .burger {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 24px;
        right: 38px;
        height: 69px;
        width: 69px;
        background: rgba(255, 255, 255, 0.45);
        border-radius: 15px;
        z-index: 200;

        &__container {
            position: relative;
            background: #FFFFFF;
            height: 49px;
            width: 49px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 10px 0 rgba(73, 93, 76, 0.15);

            &::after {
                position: absolute;
                bottom: 10px;
                content: "";
                right: 12px;
                display: block;
                height: 3px;
                width: 27px;
                margin: 5px 0;
                border-radius: 3px;
                background-color: #010201;
                transition: all 0.4s;
            }

            &::before {
                position: absolute;
                content: "";
                top: 10px;
                right: 12px;
                display: block;
                height: 3px;
                width: 27px;
                margin: 5px 0;
                border-radius: 3px;
                background-color: #010201;
                transition: all 0.4s;
            }
        }

        &__firstline {
            display: block;
            height: 3px;
            width: 27px;
            border-radius: 3px;
            background-color: #010201;
            margin: 5px 3px 5px 0;
            transition: all 0.4s;
        }

        &--active {

            & .burger__firstline {
                visibility: hidden;
                transition: all 0.1s;
            }

            & .burger__container::before {
                content: "";
                transform: rotate(45deg);
                top: 17.5px;
                border-radius: 3px;
                background-color: #010201;
                transition: all 0.4s;
            }

            & .burger__container::after {
                content: "";
                transform: rotate(-45deg);
                bottom: 18.5px;
                border-radius: 3px;
                background-color: #010201;
                transition: all 0.4s;
            }
        }

        &--follow {
            transition: all .4s;
        }
    }
    .header {
        &__top {
            top: 0;
            right: 0;
            bottom: 0;
            min-width: 360px;
            position: fixed;
            background-color: #F4F4F4;
            z-index: 150;
            transform: translate(100%);
            transition: all .4s;
            flex-direction: column;
            justify-content: center;

            &--open {
                transform: translate(0%);
            }
        }

        &__menu {
            flex-direction: column;
            text-align: center;

            &-item {
                margin-right: 0;
                margin-bottom: 36px;
            }
        }

        &__number {
            display: none;

            &-content {
                display: flex;
            }

            &-wa {
                margin-right: 20px;
            }
        }
    }

}

/* ===============================MEDIA============================== */
/* -------------------------------900px-------------------------------*/

@media (max-width: 900px) {

    .cisterns {

        &__inner {
            &-title {
                top: 480px;
            }
        }

        &__title {
            @include style_h1_pad;
            color: #FFFFFF;
        }
    }

    .availability {
        &__inner {
            &-title {
                @include style_h1_pad;
                padding: 80px 0 50px 0;
                transition: all .6s;
            }

            &-slider {
                width: 600px;
                transition: all .6s;
                margin: 0 auto;
                overflow: hidden;
            }
        }

        &__slider {
            &-item {
                padding: 25px;
                max-width: 600px;
                transition: all .6s;
            }
        }

        &__item {

            &-text {
                padding-bottom: 100px;
            }

            &-btn {
                position: absolute;
                bottom: 20px;
                margin-left: 97px;
            }
        }

        &__arrows {
            max-width: 799px;
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            &-left {
                position: static;
            }
            &-right {
                position: static;
            }
        }
    }

    .partners {
        &__inner {
            padding: 32px 0 32px 0;
            &-title {
                @include style_h1_pad;
                transition: all .6s;
                padding-bottom: 48px;
            }
        }

        &__grid {
            grid-template-columns: 1fr;
            transition: all .6s;

            &-item img {
                width: 330px;
            }
        }
    }

    .adaptation {
        padding: 32px 0 74px 0;
        transition: all .6s;
        &__inner {
            padding: 40px 20px;
            &-title {
                @include style_h1_pad;
            }
        }
    }

    .about {
        padding: 74px 0 74px 0;
    
        &__inner {
            padding: 30px 40px 40px 30px;
            border-radius: 20px;
            background-color: #ffffff;
            transition: all .6s;
    
            &-title {
                @include style_h1_pad;
                padding-bottom: 24px;
                transition: all .6s;
            }
    
            &-text {
                @include style_h3;
            }
        }
    }

    .choice {
        padding: 74px 0 74px 0;
        &__inner {

            &-title {
                @include style_h1_pad;
                padding-bottom: 20px;
            }

            &-text {
                padding-bottom: 20px;
            }
        }

        &__arrows {

            &-left {
                top: 25px;
            }

            &-right {
                top: 25px;
            }
            
        }
    }

    .application {
        padding: 74px 0;
        transition: all .6s;

        &__inner {
            flex-direction: column;
            padding: 25px 20px 38px 20px;
            transition: all .6s;
        }

        &__text {
            &-title {
                @include style_h1_pad;
                color: #FFFFFF;
                transition: all .6s;
            }

            &-top {
                transition: all .6s;
                padding-bottom: 20px;
            }
        }
    }

    .contacts {
        padding: 74px 0px 32px 0px;
        transition: all .6s;

        &__inner {
        }

        &__content {

            &-title {
                @include style_h1_pad;
                transition: all .6s;
            }

            &-grid {
                grid-template: auto auto / auto auto;
                gap: 15px 10px;
                transition: all .6s;
            }
        }

        &__map {
            & iframe {
                width: 620px;
                transition: all .6s;
            }
        }
    }

    .footer {
        &__inner {
            &-info {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

/* ===============================MEDIA============================== */
/* -------------------------------709px-------------------------------*/

@media (max-width: 709px) {
    .cisterns {
        &__inner {
            &-title {
                top: 426px;
                transition: all .6s;
            }
        }
    }
}

/* ===============================MEDIA============================== */
/* -------------------------------659px-------------------------------*/

@media (max-width: 659px) {

    .cisterns {
        height: 405px;
        transition: all .6s;

        &__inner {

            &-title {
                top: 60px;
                transition: all .6s;
            }

            &-btn {
                top: 230px;
                transition: all .6s;
            }
        }

        &__title {
            @include style_h1_mob;
            color: #FFFFFF;
            max-width: 400px;
        }
    }

    .availability {
        padding: 32px 0;

        &__inner {

            &-title {
                @include style_h1_mob;
                padding: 32px 0;
                transition: all .6s;
            }

            &-slider {
                width: 490px;
            }
        }

        &__slider {
            width: 560px;

            &-item {
                max-width: 590px;
                padding: 10px 9px 50px 19px;
            }
        }

        &__item {
            width: 401px;

            &-title {
                @include style_h2_mob;
            }

            &-img {
                width: 250px;

                & img {
                    align-self: center;
                    width: 250px;
                }
            }

            &-btn {
                margin-left: 20px;
            }
        }

        &__btn {
            width: 401px;
        }

        &__arrows {
            max-width: 470px;
            transition: all .6s
        }
    }

    .partners {
        &__inner {
            &-title {
                @include style_h1_mob;
                padding-bottom: 32px;
            }
        }
    }

    .adaptation {
        padding: 32px 0 42px 0;

        &__inner {
            padding: 40px 20px 20px 20px;

            &-title {
                @include style_h1_mob;
            }

            &-text {
                padding: 24px 0;
            }

            &-content {
                flex-direction: column;
            }
        }

        &__content {

            &-item {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }

    .about {
        &__inner {
            &-title {
                @include style_h1_mob;
            }
        }
    }

    .choice {
        padding: 32px 0 68px 0;
        transition: all .6s;

        &__inner {

            &-title {
                @include style_h1_mob;
                transition: all .6s;
            }

            &-slider {
                width: 420px;
                margin: 0 auto;
                transition: all .6s;
                overflow: hidden;

            }
        }

        &__slider {

            &-item {
                margin: 0 auto;
                max-width: 400px;
                padding: 40px 20px;
                transition: all .6s;
            }
        }

        &__item {

            &-title {
                @include style_h2_mob;
                transition: all .6s;
            }
        }

        &__arrows {
        }
    }

    .application {

        &__inner {

            &-form {
                max-width: 410px;
                transition: all .6s;
            }
        }

        &__text {

            &-title {
                @include style_h1_mob;
                color: #FFFFFF;
                transition: all .6s;
            }
        }

        &__form {

            &-input {
                width: 410px;
                transition: all .6s;
            }
        }

        &__btn {
            width: 410px;
            transition: all .6s;
        }
    }

    .contacts {

        &__content {

            &-title {
                @include style_h1_mob;
            }

            &-grid {
                grid-template-columns: auto;
                transition: all .6s;
            }
        }

        &__map {

            & iframe {
                width: 330px;
                transition: all .6s;
            }
        }
    }

    .footer {

        padding: 48px 0px 48px 0px;

        &__inner {
            flex-direction: column;
            transition: all .6s;

            &-info {
                padding: 0;
            }
        }

        &__about {

            &-img {
                padding-bottom: 34px;
            }
        }
    }

    .popup {

        &__inner {
            padding: 20px 10px;

            &-form {
                max-width: 330px;
                transition: all .6s;
            }
        }

        &__text {

            &-title {
                @include style_h1_mob;
                color: #FFFFFF;
                transition: all .6s;
            }
        }

        &__form {

            &-input {
                width: 330px;
                transition: all .6s;
            }
        }

        &__btn {
            width: 330px;
            transition: all .6s;
        }
    }
}

/* ===============================MEDIA============================== */
/* -------------------------------525px-------------------------------*/

@media (max-width: 525px) {
    
    .availability {
        &__inner {

            &-slider {
                width: 330px;
                transition: all .6s;
            }
        }

        &__slider {

            &-item {
                max-width: 330px;
                padding: 10px 9px 50px 10px;
                transition: all .6s;
                margin: 0;
            }
        }

        &__item {
            width: 288px;
            transition: all .6s;

            &-text {
                padding-bottom: 50px;
            }

            &-btn {
                margin-left: 0px;
            }
        }

        &__btn {
            width: 310px;
        }
    }

    .choice {

        &__slider {
            width: 330px;
            margin: 0;

            &-item {
                max-width: 330px;
            }
        }

        &__item {

            &-title {
                max-width: 300px;
            }
        }
    }

    .application {
        &__inner {

            &-form {
                max-width: 310px;
                transition: all .6s;
            }
        }
        &__form {

            &-input {
                width: 300px;
                transition: all .6s;
            }
        }

        &__btn {
            width: 300px;
            transition: all .6s;
        }
    }
}